<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>{% block title %}My Website{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <!-- Logo linking to homepage -->
            <a href="{% url 'home' %}" class="logo">
                <img src="{% static 'images/poll_image.png' %}" alt="Logo" />
            </a>
    
            <!-- Navbar links -->
            <ul class="nav-links">
                <li class="{% if request.path == '/home/' %}active{% endif %}"><a href="{% url 'home' %}">Home</a></li>
                <li class="{% if request.path == '/vote/' %}active{% endif %}"><a href="{% url 'vote' %}">Vote</a></li>
                <li class="{% if request.path == '/result/' %}active{% endif %} "><a href="{% url 'result' %}">Result</a></li>
            </ul>
    
            <!-- Login and Signup buttons -->
            <div class="auth-buttons">
                <a href="#" class="btn login-btn">Login</a>
                <a href="#" class="btn signup-btn">Signup</a>
            </div>
        </div>
    </nav>

    <div class="wrapper">
        <main>
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </main>
    
    <footer>
        <div class="sponsors">
            <h2>Our Sponsors</h2>
            <div class="sponsors-container">
                <a href="#" target="_blank">
                    <img src="{% static 'images/google.png' %}" alt="Sponsor 1"  id=logo1>
                </a>
                <a href="#" target="_blank">
                    <img src="{% static 'images/whatsapp.png' %}" alt="Sponsor 2" class="sponsor-logo" id=logo2>
                </a>
                <a href="#" target="_blank">
                    <img src="{% static 'images/instagram.png' %}" alt="Sponsor 3" class="sponsor-logo" id=logo3>
                </a>
            </div>
        </div>
        <div class="footer-content">
            <p>© 2024 NM Polling Site</p>
        </div>
        
    </footer>
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Get all <p> tags inside the description
            let descriptions = document.querySelectorAll('.middle-side p');
    
            descriptions.forEach(function(p) {
                // If the <p> tag is empty or contains only whitespace, remove it
                if (!p.textContent.trim()) {
                    p.remove();
                }
            });
        });
    </script>
</body>
</html>
